

.cloud {
  background-color: rgba(0,0,0, .4);
  position: absolute;
  bottom: 0;
  width: 350.625em;
  height: 43.4em;
  animation: rotationLeft 80s linear infinite;
  z-index: 1;
 
  
}

@keyframes rotationLeft {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translate3d(-50%,0,0);
  }

}

.img_cloud {
  margin-top: 4rem;
  opacity: 0.5
}