:root{

    --color1: #F2CB05;
    --color2: #BF920A;
    --color3: #F2F2F2;
    --color4: #404040;
    --color5: #0D0D0D;
    --color6: #000;

    
  --font-family: "Bebas Neue", sans-serif;
  
  
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    font-weight: 400;
    

}