#spotify{
    margin: 50px;
}

#streams h3{
    color: var(--color1);
    font-size: 1001px;
    text-align: center;
}

#sobre-grupo h3 {
    
    color: var(--color1);
    font-size: 50px;
    text-align: center;
    
}

#sobre-grupo p{
    color: var(--color3);
    font-size: 40px;
    text-align: center;
    margin: 50px;
    background-color: var(--color2);
    border-radius: 10px;
    padding: 20px;
}

#sobre-grupo  a{
    color: var(--color5);
    text-decoration: none;
    font-size: 30px;
}

#sobre-grupo  a:hover{
    color: var(--color1);
}